* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  background-color: #282d35;
}

.logo {
  width: 90px;
}

.nav {
  display: flex;
  justify-content: space-between;
  background-color: #21222a;
  padding: 20px 14px;
}

.nav > .nav-left {
  display: flex;
  align-items: center;
  color: #61dafb;
  font-weight: 700;
}

.nav > .nav-right {
  color: #d5e1ee;
}

main {
  padding: 57px 27px;
}

main > .main--title {
  margin: 0;
  font-size: 39px;
  color: #fff;
  letter-spacing: -0.05em;
}

.main--facts {
  color: #d5e1ee;
  margin-top: 46px;
  max-width: 400px;
}

.main--facts > li {
  padding-block: 10px;
  line-height: 19px;
}

.main--facts > li::marker {
  color: #61dafb;
  font-size: 1.4rem;
}
